


<body id="linear-gradient" style="height:1400px;">
    <div class="topcorner">Hi,{{userFirst}}</div>
    <div class="content"> 
        <!-- <input class='css-input' type="text" name="publishdate" [(ngModel)]="bookcontent"> -->
        <textarea name="paragraph_text" cols="50" rows="10">{{bookcontent}}</textarea>
        </div>
    <div class="center">
        <br>
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'> 
<h1>Welcome to the Digital Books !!!</h1>

<div class="book-grid" *ngIf="searchResult.length>0" >
    <div class="book-row">
        <div class="book-row-details"  >
            <table class="table table-bordered">
                <thead>
                    <th>Book Name</th>
                    <th>Publisher</th>
                    <th>Read</th>
                </thead>
                <tbody *ngFor="let n of searchResult" >
                    
                    <tr >
                        <td>{{ n.book.bookName }}</td>
                        <td>{{ n.book.publisher }}</td>
                        <td >
                            <div>
                                <button class="enjoy-css"  *ngIf="n.book.active==true" (click) = "onViewClick(n.book)"  >Read</button> 
                                <button class="enjoy-css"  *ngIf="n.book.active==false" (click) = "onViewClickd(n.book)"  >Not Available</button> 
                                
                            </div></td>
                            
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
            <!-- <ng-template #elseBlock>
                
            </ng-template> -->
        </div>
    </div>
</div>
    
    
    